:root {
  /* --blue:   #0266c8;
  --green:  #00933b;
  --red:    #f90101;
  --yellow: #f2B50f;*/

  --blue:   #2090f0;
  --green:  #40a050;
  --orange: #d06010;
  --red:    #d03030;
  --yellow: #ffc050;

  --color-background-selected:   #2090f0;

  --color-background-div: rgb(28, 36, 44);
  --color-background-main: rgb(18, 22, 26);
  --color-background-menu-hover: rgb(36, 44, 52);  
  --color-background-modal: rgb(32, 40, 48);
  --color-background-toolbar: rgb(32, 40, 48);
  --color-secondary: rgb(40, 48, 56);  
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBMPlexSans'),
    url('../../node_modules/@ibm/plex/IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular-Pi.woff2') format('woff2');
    unicode-range: U+0E3F, U+2032-2033, U+2070, U+2075-2079, U+2080-2081, U+2083, U+2085-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1-EBE7, U+ECE0, U+EFCC;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-attachment: fixed; 
  background-color: var(--color-background-main);
  /* ajm: background-image: url('../images/image1.jpg'); */ 
  background-position-x: center; 
  background-repeat: no-repeat; 
  color: whitesmoke;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

/* ajm: */
button {
  background-color: var(--blue);
  border: 1px var(--color-background-main) solid;
  border-radius: 2px;
  color: whitesmoke;
  cursor: pointer;
  height: 32px;
  outline: none;
  width: 100px;
}

button:hover {
  filter: brightness(120%);
}

.button-error {
  background-color: var(--red);
}

.button-secondary {
  background-color: var(--color-secondary);
}

.button-warning {
  background-color: var(--yellow);
  color: black;
}

/* ajm: */
dialog {
  background-color: var(--color-background-modal);
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  flex-direction: column;
  font-size: 14px;
  height: 50%;
  overflow: hidden;
  padding-bottom: 0px;
  padding-left: 30px; 
  padding-right: 30px;
  padding-top: 0px; 
  width: 50%;
  user-select: none;
  z-index: 100;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.dialog-toolbar {
  align-items: center;
  background-color: var(--color-background-modal);
  border-bottom: 1px var(--color-background-main) solid;
  cursor: default;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  -webkit-user-select: none;
}

.dialog-toolbar-icon {
  cursor: pointer;
  height: 24px;
  position: absolute;
  width: 24px;
  -webkit-app-region: no-drag;
}

.dialog-toolbar-icon:hover {
  filter: brightness(120%);
}

div {
  padding: 0px;
  margin: 0px;
}

input {
  background-color: var(--color-background-main);
  border: none;
  color: white;
  height: 28px;
  outline: none;
  padding-left: 10px;
}

/* ajm: */
textarea {
  resize: none;
}

/* ajm: */
webview {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* ajm: */
.active {
  cursor: pointer;
  opacity: .7;
}

.active:hover {
  opacity: 1;
}

/* ajm: */
.component {
  border: 1px black solid;
  display: hidden;
  height: 600px;
  overflow: hidden;
  position: absolute;
  resize: both;
  width: 1000px;
}

/* ajm: */
.icon-check-circle {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="lightgray"><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2ZM14,21.5908l-5-5L10.5906,15,14,18.4092,21.41,11l1.5957,1.5859Z"/><path fill="none" d="M14 21.591L9 16.591 10.591 15 14 18.409 21.41 11 23.005 12.585 14 21.591z" data-icon-path="inner-path"/></svg>');
  background-repeat: no-repeat;
}

.icon-close {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"/></svg>');
  background-repeat: no-repeat;
}

.icon-delete {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M12 12H14V24H12zM18 12H20V24H18z"/><path d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z"/></svg>');
  background-repeat: no-repeat;
}

.icon-tools {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M12.1,2A9.8,9.8,0,0,0,6.7,3.6L13.1,10a2.1,2.1,0,0,1,.2,3,2.1,2.1,0,0,1-3-.2L3.7,6.4A9.84,9.84,0,0,0,2,12.1,10.14,10.14,0,0,0,12.1,22.2a10.9,10.9,0,0,0,2.6-.3l6.7,6.7a5,5,0,0,0,7.1-7.1l-6.7-6.7a10.9,10.9,0,0,0,.3-2.6A10,10,0,0,0,12.1,2Zm8,10.1a7.61,7.61,0,0,1-.3,2.1l-.3,1.1.8.8L27,22.8a2.88,2.88,0,0,1,.9,2.1A2.72,2.72,0,0,1,27,27a2.9,2.9,0,0,1-4.2,0l-6.7-6.7-.8-.8-1.1.3a7.61,7.61,0,0,1-2.1.3,8.27,8.27,0,0,1-5.7-2.3A7.63,7.63,0,0,1,4,12.1a8.33,8.33,0,0,1,.3-2.2l4.4,4.4a4.14,4.14,0,0,0,5.9.2,4.14,4.14,0,0,0-.2-5.9L10,4.2a6.45,6.45,0,0,1,2-.3,8.27,8.27,0,0,1,5.7,2.3A8.49,8.49,0,0,1,20.1,12.1Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-error {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="%23d32f2f" stroke="whitesmoke"><path d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25	c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z"/><path fill="none" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22	C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z" data-icon-path="inner-path" opacity="0"/></svg>');
  background-repeat: no-repeat;
}

.icon-info {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="%232196f3" stroke="whitesmoke"><path fill="none" d="M16,8a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,8Zm4,13.875H17.125v-8H13v2.25h1.875v5.75H12v2.25h8Z"/><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,6a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,8Zm4,16.125H12v-2.25h2.875v-5.75H13v-2.25h4.125v8H20Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-kiosk {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M22 16L24 16 24 8 16 8 16 10 22 10 22 16zM8 24L16 24 16 22 10 22 10 16 8 16 8 24z"/><path d="M26,28H6a2.0023,2.0023,0,0,1-2-2V6A2.0023,2.0023,0,0,1,6,4H26a2.0023,2.0023,0,0,1,2,2V26A2.0023,2.0023,0,0,1,26,28ZM6,6V26H26.0012L26,6Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-menu {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M4 6H28V8H4zM4 24H28V26H4zM4 12H28V14H4zM4 18H28V20H4z" /></svg>');
  background-repeat: no-repeat;
}

.icon-notifications-new {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M26,16.5859V14H24v3a1,1,0,0,0,.293.707L27,20.4141V22H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13A7.9854,7.9854,0,0,1,20,6.0825V3.8467a9.896,9.896,0,0,0-3-.7959V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.293,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v1a5,5,0,0,0,10,0V24h7a1,1,0,0,0,1-1V20a1,1,0,0,0-.293-.707ZM19,25a3,3,0,0,1-6,0V24h6Z"/><circle cx="26" cy="8" r="4"/></svg>');
  background-repeat: no-repeat;
}

.icon-notifications-none {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M28.7071,19.293,26,16.5859V13a10.0136,10.0136,0,0,0-9-9.9492V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.2929,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v.7768a5.152,5.152,0,0,0,4.5,5.1987A5.0057,5.0057,0,0,0,21,25V24h7a1,1,0,0,0,1-1V20A1,1,0,0,0,28.7071,19.293ZM19,25a3,3,0,0,1-6,0V24h6Zm8-3H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13a8,8,0,0,1,16,0v4a1,1,0,0,0,.293.707L27,20.4141Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-user {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z"/><path d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-warn {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="%23ffb74d" stroke="black"><path fill="none" d="M14.875,11h2.25V21h-2.25ZM16,27a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,27Z"/><path d="M29.8872,28.5386l-13-25a1,1,0,0,0-1.7744,0l-13,25A1,1,0,0,0,3,30H29a1,1,0,0,0,.8872-1.4614ZM14.875,11h2.25V21h-2.25ZM16,27a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,27Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-zoom-in {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M18 12L14 12 14 8 12 8 12 12 8 12 8 14 12 14 12 18 14 18 14 14 18 14 18 12z"/><path d="M21.4479,20A10.856,10.856,0,0,0,24,13,11,11,0,1,0,13,24a10.856,10.856,0,0,0,7-2.5521L27.5859,29,29,27.5859ZM13,22a9,9,0,1,1,9-9A9.01,9.01,0,0,1,13,22Z"/></svg>');
  background-repeat: no-repeat;
}

.icon-zoom-out {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="whitesmoke" stroke="whitesmoke"><path d="M8 12H18V14H8z"/><path d="M21.4479,20A10.856,10.856,0,0,0,24,13,11,11,0,1,0,13,24a10.856,10.856,0,0,0,7-2.5521L27.5859,29,29,27.5859ZM13,22a9,9,0,1,1,9-9A9.01,9.01,0,0,1,13,22Z"/></svg>');
  background-repeat: no-repeat;
}

/* ajm: */
.main-toolbar {
  align-items: center;
  background-color: var(--color-background-toolbar);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;
  width: 100vw;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.main-toolbar-icon {
  cursor: pointer;
  height: 24px;
  margin-left: 5px;
  width: 24px;
  -webkit-app-region: no-drag;
}

.main-toolbar-icon:hover {
  filter: brightness(120%);
}

.menu-option {
  color: white;
  cursor: pointer;
  opacity: 0.7;
}

.menu-option:hover {
  background-color: var(--color-background-menu-hover);
  opacity: 1.0;
}

/* ajm: */
.toolbar {
  align-items: center;
  background-color: var(--color-background-toolbar);
  cursor: move;
  display: none;
  flex-direction: row;
  font-size: 18px;
  height: 32px;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-user-select: none;
}

.toolbar-icon {
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
  -webkit-app-region: no-drag;
}

.toolbar-icon:hover {
  filter: brightness(120%);
}

/* ajm: */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* ::-webkit-scrollbar-button {
}*/

::-webkit-scrollbar-track {
  background-color: var(--color-background-modal);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--color-background-main);
}

::-webkit-scrollbar-thumb {
  height: 25%;
  background-color: var(--color-background-modal);
  border: 1px var(--color-background-main) solid;
}

::-webkit-scrollbar-corner {
  background-color: var(--color-background-modal);
}



/* --------------------------------------------------------------------------- */
table {
  border: 0px;
  border-spacing: 0px;
  display: block;
  padding: 0px;
  table-layout: fixed;
}

tbody {
  display: block;
  table-layout: fixed;
}

th {
  background-color: var(--color-background-modal);
  padding: 5px;
}
